<p>
  <mat-form-field appearance="outline">
    <mat-label>ID</mat-label>
    <input matInput [(ngModel)]="chapter.id" [ngModelOptions]="{standalone: true}" placeholder="Digite o ID" required>
    <mat-icon matSuffix></mat-icon>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="chapter.nome" [ngModelOptions]="{standalone: true}" placeholder="Digite o Nome" required>
    <mat-icon matSuffix></mat-icon>
  </mat-form-field>
</p>
<section>
  <div class="example-button-row">
    <button mat-raised-button color="Criar" (click)="updateChapter()">Salvar</button>
  </div>
</section>
